li {
    display: inline;
    margin-left: 10px;
}
@media screen and (max-width: 992px) {
    body {
        background-color: Green;
        font-family: "Courier New", Courier, monospace;
    }
    #news {
        margin-top: 3%;
    }
}
