nav.row
    .col-md-12
        .header
            ul
                li
                    a(class="btn btn-default" href='/index') Home
                li
                    a(class="btn btn-default" href='/chat') Chat
                li
                    a(class="btn btn-default" href='/forum') Forums
                li
                    a(class="btn btn-default" href='/contact') Contact