html
    head
        link(rel="stylesheet" types="text/css" href="css/style.css")
    body
        p The latest pictures from our #Meetup
        .row
            .col-8
                img(src="http://placehold.it/1024x768")
            section.col-4
                article.news
                    .news-heading
                        h1 News!
                    .news-body
                        p This is the latest news about the site!
                article.news
                    .news-heading
                        h1 Older News!
                    .news-body
                        p This is NOT the latest news about the site!
                article.news
                    .news-heading
                        h1 Old News!
                    .news-body
                        p This is the opposite of the latest news about the site!
        .row
            .col-12
                .jumbo-text
                    h1 HELLO IM A JUMBOTRON
                    p Take a look at all the cool stuff we've got going on!