extends _template.jade
block variables
    - var titleText = "Chat";
block content
    .row
        .col-md-3
            .panel(class="panel-default")
                .panel-body
                    h3 Users In Room
                    ul.list-group
                        li.list-group-item Anonymous
                        li.list-group-item Placeholder
        .col-md-9
            h2 Conversation
            table.table
                tr
                    th Username
                    th Message
                tr
                    td Anonymous
                    td Not a real message!
                tr
                    td Placeholder
                    td Never fear, the real thing will be working soon!
    .row
        .col-md-3
        .col-md-9
            .input-group
                span.input-group-btn
                    button.btn(class="btn-primary" type="button") Send!
                input.form-control(type="text")