extends _template.jade
block variables
    - var titleText = "Contact";
block content
    .media
        a.pull-left(href="#")
          img(class="media-object" src="http://placehold.it/128x128")
        div.media-body
          h4.media-heading Cameron VanHouzen
        p Hello! I am the creator of this website
        p Phone: (231)-649-1777
        p Address: Sorry folks