doctype html
html(lang="en")
  head
    title= Responsive
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" types="text/css" href="css/style.css")
    body
      .container
        h1.page-header Welcome to the forums
        ul.media-list
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading
              p Blah blah blah
        ul.media-list
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading
        ul.media-list
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading
          li.media
            a.pull-left(href="#")
              img(class="media-object" src="http://placehold.it/64x64")
            div.media-body
              h4.media-heading Media heading